{{!-- Nav bar goes here --}}

</div>
<div class="right menu column">
    <div class="item">
      <div class="ui transparent icon input">
        <input type="text" placeholder="Quick search tasks...">
        <i class="search link icon"></i>
      </div>
    </div>
  </div>
</div>

